.projects{
display:flex;
object-fit: contain;
margin-top: 300px;
color: #ffffff;
}
.divide1{
    object-fit: contain;
     flex:50%;
    margin-left: 1px;    
}
.divide1>p{
    color: aquamarine;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    margin-top:100px ;
    border: solid 2px rgb(158, 130, 130);
    margin-left:10px ;
    margin-right: 10px;
    object-fit: contain;
}  
.d{
    
    color: antiquewhite;
    margin-left:290px;
    margin-top: -300px;
    object-fit: contain;

} 
.b{
    color: antiquewhite;
    margin-left:250px;
    margin-top: -380px;
    object-fit: contain;
}
.c{
    
    color: antiquewhite;
    margin-left:250px;
    margin-top: -350px;
    object-fit: contain;

    
}

.divide2>p{
    color: aquamarine;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    margin-top:100px ;
    border: solid 2px rgb(158, 130, 130);
    margin-left:10px ;
    margin-right: 10px;
}
.calc{
    
    margin-left: 10px;
    padding-bottom: 20px;
    object-fit: contain;
}
.ttt{
    margin-left: 10px;
    padding-bottom: 150px;
    object-fit: contain;
}

.pf{
    margin-left: 10px;
    padding-bottom: 150px;
    object-fit: contain;

}
.calc>p{
    color: aquamarine;
    margin-left: 58px;
    font-weight: bold;
    margin-top: -45px;
    padding: 15px;
    
}
.ttt>p{
    color: aquamarine;
    margin-left: 55px;
    font-weight: bold;
    margin-top: -45px;
    padding: 15px;
}
.pf>p{
    color: aquamarine;
    margin-left: 95px;
    font-weight: bold;
    margin-top: -45px;
    padding: 15px;
}
.divide2{
    flex: 50%;
}

.calcc>img{
    
    transition: 0.3s;
      filter: blur(5px); 
    width: 130px;
        height: 200px;
        background: rgba(255, 255, 255, 0) no-repeat;
        margin: 50px;
        background-size: contain;
        border: solid 2px rgb(255, 255, 255);

        
}
.calcc>img:hover{
    
    background-size: contain;
    background-position: center;
    padding: 2px;
    border: solid 2px rgb(255, 255, 255);
    filter: blur(0px);
}
   
.tttt>img{
    transition: 0.3s;
      filter: blur(5px); 
    width: 130px;
        height: 200px;
        background: rgba(255, 255, 255, 0) no-repeat;
        margin: 50px;
        background-size: contain;
        border: solid 2px rgb(255, 255, 255);

}
.tttt>img:hover{
    border: solid 2px #ffffff;
    background-size: contain;
    background-position: center;
    padding: 2px;
    filter: blur(0px);
}
.pff>img{
    transition: 0.3s;
      filter: blur(5px); 
    width: 190px;
        height: 125px;
        background: rgba(255, 255, 255, 0) no-repeat;
        margin: 50px;
        background-size: contain;
        border: solid 2px rgb(255, 255, 255);

}
.pff>img:hover{
    border: solid 2px rgb(255, 255, 255);
    
    background-size: contain;
    background-position: center;
    padding: 2px;
    filter: blur(0px);
}

