

.header{
    background-color: black;
    color: aliceblue;
    display: flex;  
    align-items: center;  
}
.header__left{
    
    flex: 0.4;

}
.header__left>h1{
    text-align: center;
}
.header__left>h1>span{
    color: rgb(21, 157, 1);
}

.header__right{
    display: flex;
    flex: 0.6;
    align-items: center;
    justify-content: space-evenly;
    
}
.header__right>a>h4{
    text-align: center;
    cursor: pointer;
transition: transform 200ms ease-in-out;
}
.header__right>a>h4:hover{
    transform:scale(1.09);
}
.call{
color: rgb(250, 250, 250);
padding-left: 10px;
padding-right: 10px;
padding-top: 3px;
border-radius: 10px;
padding-bottom: 3px;
background-color: rgb(18, 108, 42);
cursor: pointer;
transition: transform 200ms ease-in-out;
}
.call:hover{
    transform:scale(1.09);

}

